/*ProductDetail css*/

.custom-image-size {
    width: 100%;
    height: auto; 
}
.custom-button-size {
    width: 200px; 
    height: 50px;  
    padding: 10px 20px; 
}
.custom-image-border {
    border: 1px solid #000; 
}
.custom-image-shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.card{
    border: 1px solid hsla(0, 0%, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    max-height:inherit;
    display:inline-block;
   
}